@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    font-family: "Reddit Mono", monospace;
}
body{
    background-color: #011E11;
}

.topo{
    color:white;
    display: flex;
    font-size: 50px;
    padding: 0 5%;
}
.banner{
    display: flex;
    margin-left: 30%;
    justify-content: flex-end;
}
.btn{
    
    background-color: rgb(4, 255, 0);
    margin : 50px;
    padding: 10px 90px;
    border-radius: 10px;
    margin-top: 10%;
    text-align: center;
    font-size: 50%;
    color:black;
    display: inline-block;
}
@media screen and (max-width: 1000px){
    .topo{
        flex-direction: column-reverse;
        padding: 0 10%;
    }
    .banner{
        margin-left: 0;
    }
    .btn{
        text-align: left;
    }
}